{# templates/projet/Backend/add.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Ecrire un post {% endblock %}


{% block body %}

        
        <h2>Ecrire un post :</h2>
        <div>
            {{ form_start(form) }}
            
            <div class="row">
                <div class="col-lg-12">{{ form_row(form.title) }}</div>
                <div class="col-lg-12">{{ form_row(form.content) }}</div>
                <div class="col-lg-12">{{ form_row(form.mainImage) }}</div>
                <div class="col-lg-12">{{ form_row(form.pictureFiles) }}</div>
            </div>

            
            {{ form_widget(form) }}
            <button class="btn btn-secondary">Enregistrer</button>
            {{ form_end(form) }}
        </div>



{% endblock %}