{# templates/projet/Backend/profil.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Profil {% endblock %}


{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center m-3">Bienvenue sur votre profil {{ user.username }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <h5 class="text-center m-3">Accèder à :</h5>
            <p class="link">
                <a href="{{ path('profil.postIndex') }}" class="btn btn-primary m-1">Vos posts</a>
                <a href="{{ path('profil.messageIndex') }}" class="btn btn-primary m-1">Vos messages privés</a>
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-center m-3">Gèrer mon compte :</h3>

            <div class="change-password"><a href="{{ path('profil.passwordEdit') }}">Changer votre mot de passe</a></div>

            <div class="col-lg-12 avatar-change">
                <p>Avatar actuel :</p>

                {% if vich_uploader_asset(user, 'imageFile') is null %}
                    <img src="{{ asset('images/avatar/defaultAvatar.jpg') }}" class="mainimage" alt="">
                {% else %}
                    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('avatar') }}" class="mainimage" alt="">
                {% endif %}
            </div>

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 offset-lg-4">{{ form_row(form.imageFile) }}</div>
                </div>
            </div>


            {{ form_widget(form) }}
            <button class="btn btn-secondary">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}