{# templates/projet/Backend/Profil/PasswordReset.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Profil {% endblock %}


{% block body %}


    <div class="row">
        <div class="col-lg-12 text-center">

            <p class="post-main"><a class="" href="{{ path('profil.index') }}">Retourner sur votre profil</a></p>

            <h2 class="post-main">Changer votre mot de passe :</h2>
            {{ form_start(form) }}

            <div class="col-md-4 col-sm-6 offset-md-4 offset-sm-3">{{ form_row(form.oldPassword) }}</div>
            <div class="col-md-4 col-sm-6 offset-md-4 offset-sm-3">{{ form_row(form.password) }}</div>

            {{ form_widget(form) }}
            <div class="col-lg-12">
                <button class="btn btn-secondary">Enregistrer</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}