{# templates/projet/Frontend/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Index {% endblock %}


{% block body %}

        <h1 class="m-3 text-center">Posts les mieux votés :</h1>


        <h1 class="m-3 text-center">Posts les plus récents :</h1>
        <div class="row flew">
        {% for post in posts %}
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div><img src="{{ vich_uploader_asset(post, 'mainImage') | imagine_filter('thumb') }}" class="card-img-top" alt=""></div>
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p>Écrit par {{ post.author.username }}</p>
                        <p>{{ post.content }}</p>
                        <a href="{{ path('post.view', {id: post.id}) }}" class="card-link">Voir le post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>


    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>


{% endblock %}